<div class="rs-breadcrumbs">
    <img src="../../assets/images/breadcrumbs-bg.jpg" alt="Breadcrumbs Image">
    <div class="container">
        <div class="breadcrumbs-content">
            <h1 class="title">About Us</h1>
            <div class="page-path text-center">
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
    </div>
</div>	
<div id="rs-about" class="rs-about align-items-center gray-bg sec-spacer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 mb-md-30">
                <div class="about-img text-center">
                    <img src="../../assets/images/about/about-tab.png" alt="img02" />
                </div>
            </div>
            <div class="col-lg-7 col-md-12 mpl-15 pl-40">
                <div class="about-tab style-1 extra-padding ">
                    <div class="sec-title margin-0 text-left">
                        <h2 class="section-title primary-color"><span class="kinder-blue">Welecome to</span>St. Mary's School</h2>
                        <h4 class="section-subtitle-right">Information About Us</h4>
                        <p class="section-desc mb-15">We, at <b>St. Mary's School</b>, ensure high quality education which motivates and empowers our students to be lifelong learners and the productive members of the society. At Bhavan’s, education is not just the amount of information that is put into a child’s brain. Our education system is the one that cater the individual needs of our students.</p>
                        <p class="section-desc mb-15"> I, personally believe that an education system that develops the imagination of the child is richer than the one that does not. The imagination is where new ideas are created and progress becomes possible. “Imagination is more important than knowledge” because knowledge is about what we already know, whereas imagination is what moves individuals and cultures forward. <b>Imagination leads to innovation.</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
