<!-- <div class="preloader-section">
    <div class="preloader">
        <div class="loader"></div>
    </div>
</div> -->
<div class="full-width-header">
    <div class="rs-toolbar hidden-md">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="rs-toolbar-left">
                        <div class="welcome-message">
                            <i class="fa fa-map-marker"></i>
                            <span>Masiha Ganj, Sipri Bazar, Jhansi (U.P.) - 284003</span>
                        </div>
                        <div class="welcome-message">
                            <i class="fa fa-phone"></i>
                            <span><a href="tel:919621029088">+91-962 102 9088, 0510-2360580</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="rs-toolbar-right">
                        <div class="toolbar-share-icon">
                            <ul>
                                <li><img src="../../../assets/img/cbsc.png" style="width: 30px;" alt="logo"/></li>
                                <li>CBSE Affiliation No. : 2133993</li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header id="rs-header" class="rs-header style-1">
        <!-- Menu Start -->
        <div class="menu-area menu-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-12">
                        <div class="logo-area">
                            <a routerLink="/"><img src="../../../assets/logo/logo.png" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-12">
                        <div class="main-menu clearfix">
                            <a class="rs-menu-toggle"><i class="fa fa-bars"></i>Menu</a>
                            <nav class="rs-menu">
                                <ul class="nav-menu">
                                    <li><a routerLink="/">Home</a></li>
                                    <li><a routerLink="about">About Us</a></li>                                   
                                    <li><a routerLink="gallery">Gallery</a></li>                                                                      
                                    <li><a routerLink="#">Download TC</a></li>                                
                                    <li><a routerLink="contact">Contact Us</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="right-bar-icon text-right">
                            <a class="rs-search" data-target=".search-modal" data-toggle="modal" href="#"><i
                                    class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="rs-toolbar hidden-md">
        <div class="container">
            <div class="row">
                <div class="col-md-12 notification">
                    <marquee scrollamount="5" width="100%" onmouseover="this.stop();" onmouseout="this.start();"
                        style="cursor: pointer;">&nbsp;<span class="lblNotification"><span>{{notification}}</span></span></marquee>
                </div>
            </div>
        </div>
    </div>
</div>